.btn {
    margin-top: 10px;
    border: none;
    background-color: blue;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.box {
    display: flex;
    justify-content: center;
}